html{
    height: 100%;
}

body{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-image: url("images/background.jpg");
    padding: 0%; margin: 0%;
    background-color: #181818;
    color:white;
    font-family:Arial;
}

.block_menu{
    padding: 20px;
    overflow: hidden;
    background-color: #363940;
    text-align: center;
    width: 25em;
    opacity: 97%;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

.add_note, .note_text{
    width: 85%;
    max-width: 85%;
    height: 50px;
    margin-bottom: 5px;
}

.block_menu>a{
    height: 25px;
    padding-top: 5px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 85%;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    background: whitesmoke;
}